body {
  font-family: arial, sans-serif;
}

.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: #818181;
}
.WeatherInfo {
  padding-top: 20px;
}
.WeatherInfo h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.WeatherInfo .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.WeatherInfo .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.WeatherInfo canvas {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
}
.WeatherTemperature a {
  text-decoration: none;
}
